[submodule "Lyra/Sources/CTagLib/taglib"]
	path = Lyra/Sources/CTagLib/taglib
	url = https://github.com/taglib/taglib.git
[submodule "Lyra/Sources/Xiph/opusfile"]
	path = Lyra/Sources/Xiph/opusfile
	url = https://github.com/xiph/opusfile
[submodule "Lyra/Sources/Xiph/vorbis"]
	path = Lyra/Sources/Xiph/vorbis
	url = https://github.com/xiph/vorbis
[submodule "Lyra/Sources/Xiph/ogg"]
	path = Lyra/Sources/Xiph/ogg
	url = https://github.com/xiph/ogg
